# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Notebooks (optional if using IPython outputs)
.ipynb_checkpoints/

# Log files and local data
*.log
*.sqlite3
